<div class="top-menu">
  <button class="burger">| | |</button>
  <a href="/" class="text-white text-xl">JS-Book</a>
</div>
<div class="spacer">&nbsp;</div>
<style>
  .top-menu {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
    @apply transition-opacity  py-3 px-4 flex gap-3 fixed left-0 right-0 z-10;
  }

  .spacer {
    @apply h-20;
  }
  .burger {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .burger {
      transform: rotate(90deg) scale(0.9);
      @apply inline text-slate-50;
    }
  }
</style>
