---
import NormalLayout from '../layouts/normal.astro'
---

<NormalLayout>
  <h1>JavaScript</h1>

  <p>A book for people who wants to learn JavaScript without all the extra stuff. Some parts of JavaScript is not good and can make you write bad code.</p>
  <p>In this book I'll try to avoid teaching you those parts so you can focus on writing good code :)</p>
  <p>
    Read this book <a href="https://js-book.swape.net/">here</a>
  </p>
</NormalLayout>
