---
import Menu from '../components/Menu/index.astro'
import TopBar from '../components/TopBar/index.astro'
import '../styles.css'

const { frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <title>{frontmatter?.title || 'JS'}</title>
  </head>
  <body>
    <nav><TopBar /></nav>
    <main class="container mx-auto">
      <aside><Menu /></aside>
      <section><slot /></section>
    </main>
    <script>
      const burger = document.querySelector('.burger')
      const menu = document.querySelector('.menu-container')
      const closeButton = document.querySelector('.close-button')

      function toggle() {
        menu.classList.toggle('closed')
      }
      burger.addEventListener('click', toggle)
      closeButton.addEventListener('click', toggle)
    </script>
  </body>
</html>
